body {
  background-color: #eeebf0;
  margin: 0;
  color: rgb(255, 255, 255);
}
a {
  color: inherit;
}

/************************ NAV ************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: rgba(18, 10, 26, 0.7);
  z-index: 1;
  text-align: center;
}
ul {
  margin: 0;
}
li {
  display: inline-block;
  list-style-type: none;
}
li a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font: 14px/16px 'Halant', serif;
  letter-spacing: 1px;
  padding: 14px 20px;
  margin: 0;
}
li a:hover {
  background-color: rgba(18, 10, 26, 0.9);
}


/************************ HEADERS ************************/
h1 {
  font: 140px/140px 'Great Vibes', script;
  text-align: center;
  padding: 30px 0 0;
  margin: 150px 0 20px;
  text-shadow: -1px 1px 2px rgba(18, 10, 26, 0.7);
}
h2 {
  color: rgba(255, 255, 255, 0.8);
  font: 60px/60px 'Great Vibes', script;
  margin-bottom: 10px;
  margin-left: -25px;
}
.party-header {
  font-size: 70px;
  line-height: 72px;
  margin-bottom: 20px;
}
h3 {
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font: 14px/14px 'Halant', serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 5px;
}
hr {
  width: 80px;
  opacity: 0.5;
  margin: 40px auto;
}
hr + .party-header {
  margin-top: 40px;
}


/************************ CONTENT ************************/
.main {
  position: relative;
}
.content {
  position: relative;
  width: 680px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}
.white-card {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
}
.left {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
  float: left;
  width: 35%;
}
.right {
  text-align: left;
  margin-top: 10px;
  margin-right: -45px;
  float: right;
  width: 45%;
}
.half {
  text-align: left;
  width: 320px;
  display: inline-block;
  box-sizing: border-box;
}
.half:first-child {
  padding-right: 10px;
}
.half-last-child {
  padding-left: 10px;
}
p {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font: 14px/16px 'Halant', serif;
  letter-spacing: 1px;
  margin-top: 10px;
}
p:first-child {
  margin-top: 0;
}
.schedule {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font: 14px/18px 'Halant', serif;
  display: table;
}
.schedule-time {
  display: table-cell;
  width: 80px;
}
.schedule-desc {
  display: table-cell;
}
.partier-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 110px;
}
.partier {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
}
.partier img {
  width: 100px;
}
.partier-name {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font: 14px/14px 'Halant', serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px;
}
.partier-name small {
  font-size: 9px;
  line-height: 9px;
}
.partier-name .nickname {
  font-size: 11px;
}

/************************ BGS ************************/
.full-bg {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.full-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#intro {
  background-image: url('images/P00560_1186.jpg');
}
#intro:before {
  background-color: rgba(0, 0, 0, 0.1);
}
#venue {
  background-image: url('images/gihc-edited.jpg');
}
#venue:before {
  background-color: rgba(0, 0, 0, 0.2);
}
#party {
  background-color: #726076;
}



/************************ BTNS ************************/
.rsvp {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-top: 30px;
  font: 20px/20px 'Halant', serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  cursor: pointer;
}


/************************ RESPONSIVE ************************/
@media all and (max-width: 800px) {
  #intro {
    background-position: right;
  }
  .main-sidebar {
    left: 50%;
    margin-left: -250px;
  }
}