body {
  background-image: url('images/P00560_1185.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #222;
}
h1 {
  color: rgba(0, 0, 0, 0.7);
  font: 120px/75px 'Alex Brush', script;
  width: 300px;
  text-align: center;
}
.intro {
  height: 100%;
  position: relative;
}
.header {
  position: absolute;
  left: 50px;
  bottom: 40px;
  width: 500px;
}
